[uwsgi]
chdir = /home/www/{{ item.name }}
module = "{{ item.name }}.wsgi:application"
env = DJANGO_SETTINGS_MODULE={{ item.name }}.settings
wsgi-file = {{ item.name }}/wsgi.py
processes = 1
max-requests = 5000
chmod-socket = 666
master = True
vacuum = True
socket = {{ item.host }}:{{ item.port }}
home = /home/www/{{ item.name }}
uid = {{ app.user }}
gid = {{ app.user }}
daemonize = /var/log/uwsgi-{{ item.name }}.log
